/* ########################################### */
/*                 General                     */
/* ########################################### */
*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color: #000000;
    color:#FEFEFE;
}

a{
    color:#FF0042;
    font-weight: bolder;
    text-decoration: none;
}

h1{
    font-size:16px;
    font-weight: bolder;
}

.container{
	margin:20px;
	padding: 20px;
}

.subforum{
	margin-top:20px;
}

.subforum-title{
	background-color: #292B2E;
	padding:5px;
	border-radius:5px;
	margin: 4px;
}

.subforum-row{
	display: grid;
	grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
	padding: 10px;
	margin: 4px;
	border-radius:5px;
	background-color: #292B2E;
}

.subforum-icon{
	font-size: 35px;
	align-items:center;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ########################################### */
/*                 Navbar 	                   */
/* ########################################### */

header{
	margin-inline: 10px;
}

.navbar{
	display: flex;
	align-items: center;
	color: white;
}

.navigation{
    background-color:#52057b;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
}

.navlist{
	list-style-type: none;
	overflow: hidden;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 10px;
    font-size: 20px;
    padding: 10px;
    color:#fff;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.close-icon i{
    font-size:20px;
    float: left;
    cursor: pointer;
}

.hide{
	display: none;
}

.bar-icon{
	font-size: 50px;
    display: inline-block;
    margin-right:10px;
    color: #fff;
    cursor: pointer;
}

@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.WaveCast-logo{
	display: inline-block;
	font-size: 40px;
	font-family: aquire;
}