li{
    display: inline;
}
.btn-login {
    cursor: pointer;
  }
/* The popup form - hidden by default */
#myForm {
    display: none;
    margin : auto;
    width: 20%;
  }
  #RegisterUser {
    display: none;
    margin : auto;
    width: 20%;
  }
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  .form-container1 {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  .form-container1 input[type=text], .form-container1 input[type=user1], .form-container1 input[type=username], .form-container1 input[type=user2] , 
  .form-container1 input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text], .form-container input[type=password] {
    background-color: #ddd;
    outline: none;
  }
  .form-container1 input[type=text], .form-container1 input[type=user1], .form-container1 input[type=username], .form-container1 input[type=user2] , 
  .form-container1 input[type=password] {
    background-color: #ddd;
    outline: none;
  }
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
 .form-container1 .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container1 .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container1 .btn:hover, .open-button:hover {
    opacity: 1;
  }
  #bodyperfil{
    background-color: black;
    font-style: normal;
    color: white; 
  }
.b-perfil{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    border: 5px solid white;
  }
  #div-header{
    text-align: center;
    justify-content: center;
  }
  #form-buscar, #form-explorar{
    align-items: center;
    display: inline;
    font-weight: 600;
  }
  #par-bien{
    text-align:right;
  }
  #btn-log{
      float:right;
      font-weight: 600;
      border: 3px solid white;
  }
  